<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-4">To Do List</div>
                <div id="todo-list-wrapper">
                    <form class="ml-auto" id="addTask">
                    <input id="newRequest" type="text" placeholder="Things needed to do">

                    <button class="btn btn-warning" title="click to add new task"> ➕</button>
                    </form>
                    
                    <br>

                    <div class="row" id="tasks"></div> 
                    
                  
                </div>
        </div>
    </div>
</div>

